# Export-ignore files for composer (with --prefer-dist)
docs          export-ignore
.*            export-ignore
Gruntfile.js  export-ignore
README.md     export-ignore
bower.json    export-ignore
package.json  export-ignore
