<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="vsn4ik">
	<meta name="description" content="{{ site.description }}">
	<meta name="keywords" content="bootstrap checkbox switch">

	<title>{{ page.title }}</title>

	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="./dist/bootstrap-checkbox.js"></script>
	<script src="./assets/index.js"></script>
</head>
