<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="vsn4ik">
<meta name="description" content="{{ site.description }}">
<meta name="keywords" content="bootstrap checkbox switch">

<title>{{ page.title }}</title>

<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="./assets/css/index.css">
<link rel="stylesheet" href="./assets/css/pygments-manni.css">
