<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<meta name="description" content="{{ site.description }}">
	<meta name="author" content="vsn4ik">

	<title>{{ page.title }}</title>

	<base href="{{ page.base_url }}">

	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css">
	<link rel="stylesheet" href="//getbootstrap.com/2.3.2/assets/js/google-code-prettify/prettify.css">
	<link rel="stylesheet" href="//getbootstrap.com/2.3.2/assets/css/docs.css">

	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
</head>
