<div class="clearfix">
  <button id="scroll_top" class="btn btn-primary pull-right" type="button" title="Return to top">
    <span class="glyphicon glyphicon-chevron-up"></span>
    <span>Top</span>
  </button>
</div>

<hr>
<footer>
  <p class="text-center text-muted">&copy; <%= pkg.author.name %>, 2013&ndash;<%= year %></p>
</footer>
