<h2 id="html-examples">Examples</h2>

<div class="form-horizontal">
  <div class="form-group">
    <div class="col-sm-3">
      <input type="checkbox">
    </div>

    <div class="col-sm-9">
      <pre><code class="hljs xml">&lt;input type="checkbox"&gt;</code></pre>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-3">
      <input type="checkbox" data-reverse>
    </div>

    <div class="col-sm-9">
      <pre><code class="hljs xml">&lt;input type="checkbox" data-reverse&gt;</code></pre>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-3">
      <input type="checkbox" data-switch-always>
    </div>

    <div class="col-sm-9">
      <pre><code class="hljs xml">&lt;input type="checkbox" data-switch-always&gt;</code></pre>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-3">
      <input type="checkbox" disabled checked>
    </div>

    <div class="col-sm-9">
      <pre><code class="hljs xml">&lt;input type="checkbox" disabled checked&gt;</code></pre>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-3">
      <input type="checkbox" data-style="btn-group-sm m-b">
    </div>

    <div class="col-sm-9">
      <pre><code class="hljs xml">&lt;input type="checkbox" data-style="btn-group-sm"&gt;</code></pre>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-3">
      <input type="checkbox" title="Example title">
    </div>

    <div class="col-sm-9">
      <pre><code class="hljs xml">&lt;input type="checkbox" title="Example title"&gt;</code></pre>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-3">
      <input type="checkbox" data-off-title="No" data-on-title="Yes">
    </div>

    <div class="col-sm-9">
      <pre><code class="hljs xml">&lt;input type="checkbox" data-off-title="No" data-on-title="Yes"&gt;</code></pre>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-3">
      <input type="checkbox" checked data-style="btn-group-justified m-b">
    </div>

    <div class="col-sm-9">
      <pre><code class="hljs xml">&lt;div class="col-sm-3"&gt;
  &lt;input type="checkbox" data-style="btn-group-justified"&gt;
&lt;/div&gt;</code></pre>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-3">
      <input type="checkbox" data-off-icon-class="glyphicon glyphicon-thumbs-down" data-on-icon-class="glyphicon glyphicon-thumbs-up">
    </div>

    <div class="col-sm-9">
      <pre><code class="hljs xml">&lt;input type="checkbox" data-off-icon-class="gluphicon gluphicon-thumbs-down" data-on-icon-class="gluphicon gluphicon-thumbs-up"&gt;</code></pre>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-3">
      <input type="checkbox" data-off-label="false" data-on-label="false" data-off-icon-class="glyphicon glyphicon-thumbs-down" data-on-icon-class="glyphicon glyphicon-thumbs-up">
    </div>

    <div class="col-sm-9">
      <pre><code class="hljs xml">&lt;input type="checkbox" data-off-label="false" data-on-label="false" data-off-icon-class="glyphicon glyphicon-thumbs-down" data-on-icon-class="glyphicon glyphicon-thumbs-up"&gt;</code></pre>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-3">
      <input type="checkbox" checked data-off-class="btn-warning" data-on-class="btn-primary">
    </div>

    <div class="col-sm-9">
      <pre><code class="hljs xml">&lt;input type="checkbox" checked data-off-class="btn-warning" data-on-class="btn-primary"&gt;</code></pre>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-3">
      <label for="input-1">Label</label>
      <br>
      <input id="input-1" type="checkbox" checked>
    </div>

    <div class="col-sm-9">
      <pre><code class="hljs xml">&lt;label for="input-1"&gt;&lt;/label&gt;
&lt;input id="input-1" type="checkbox" checked&gt;</code></pre>
    </div>
  </div>

  <div class="form-group">
    <form class="col-sm-3" >
      <input type="checkbox" checked>
      <input class="btn btn-default m-b" type="reset">
    </form>

    <div class="col-sm-9">
      <pre><code class="hljs xml">&lt;form&gt;
  &lt;input type="checkbox" checked&gt;
  &lt;input class="btn btn-default" type="reset"&gt;
&lt;/form&gt;</code></pre>
    </div>
  </div>

  <div class="form-group">
    <form class="col-sm-3" >
      <input type="checkbox" data-toggle-key-codes="[32]">
      <input class="btn btn-default m-b" type="submit">
    </form>

    <div class="col-sm-9">
      <pre><code class="hljs xml">&lt;form&gt;
  &lt;input type="checkbox" data-toggle-key-codes="[32]"&gt;
  &lt;input class="btn btn-default" type="submit"&gt;
&lt;/form&gt;</code></pre>
    </div>
  </div>
</div>
