<h2 id="options">Options</h2>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Property</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>baseGroupCls</td>
        <td>null | string</td>
        <td>'btn-group'</td>
      </tr>
      <tr>
        <td>baseCls</td>
        <td>null | string</td>
        <td>'btn'</td>
      </tr>
      <tr>
        <td>groupCls</td>
        <td>null | string</td>
        <td>null</td>
      </tr>
      <tr>
        <td>cls</td>
        <td>null | string</td>
        <td>null</td>
      </tr>
      <tr>
        <td>offCls</td>
        <td>null | string</td>
        <td>'btn-default'</td>
      </tr>
      <tr>
        <td>onCls</td>
        <td>null | string</td>
        <td>'btn-default'</td>
      </tr>
      <tr>
        <td>offActiveCls</td>
        <td>null | string</td>
        <td>'btn-danger'</td>
      </tr>
      <tr>
        <td>onActiveCls</td>
        <td>null | string</td>
        <td>'btn-success'</td>
      </tr>
      <tr>
        <td>offLabel</td>
        <td>null | string</td>
        <td>'No'</td>
      </tr>
      <tr>
        <td>onLabel</td>
        <td>null | string</td>
        <td>'Yes'</td>
      </tr>
      <tr>
        <td>disabledCursor</td>
        <td>null | string</td>
        <td>'not-allowed'</td>
      </tr>
      <tr>
        <td>html</td>
        <td>boolean</td>
        <td>false</td>
      </tr>
      <tr>
        <td>iconCls</td>
        <td>null | string</td>
        <td>'glyphicon'</td>
      </tr>
      <tr>
        <td>offIconCls</td>
        <td>null | string</td>
        <td>null</td>
      </tr>
      <tr>
        <td>onIconCls</td>
        <td>null | string</td>
        <td>null</td>
      </tr>
      <tr>
        <td>offTitle</td>
        <td>null | string</td>
        <td>null</td>
      </tr>
      <tr>
        <td>onTitle</td>
        <td>null | string</td>
        <td>null</td>
      </tr>
      <tr>
        <td>reverse</td>
        <td>boolean</td>
        <td>false</td>
      </tr>
      <tr>
        <td>switchAlways</td>
        <td>boolean</td>
        <td>false</td>
      </tr>
      <tr>
        <td>toggleKeyCodes</td>
        <td>array</td>
        <td>[13, 32]</td>
      </tr>
      <tr>
        <td>warningMessage</td>
        <td>string</td>
        <td>'Please do not use bootstrap-checkbox element in label element.'</td>
      </tr>
    </tbody>
  </table>
</div>
