body {
	padding-top: 20px;
}

footer {
	padding-bottom: 10px;
}

label[for] {
	cursor: pointer;
}

.m-b {
	margin-bottom: 15px;
}

.glyphicon + *,
.octicon + *,
* + .glyphicon,
* + .octicon {
	margin-left: 4px;
}

.input-group-addon,
.input-group-btn {
	width: auto;
}
