<!DOCTYPE html>
<html>
<head>
	<!-- Meta, title, CSS, favicons, etc. -->
	{% include header.html %}
</head>
<body>
	<div class="container">
		<div class="jumbotron">
			<h1>Bootstrap-checkbox</h1>
			<p class="lead">{{ site.description }}</p>
			<a class="btn btn-primary" href="{{ site.repo }}/archive/master.zip">Download</a>
			<a class="btn btn-default" href="{{ site.repo }}">View Project on GitHub</a>
		</div>

		{{ content }}

		<hr>
		<footer>
			<p>Copyright © 2014 vsn4ik</p>
		</footer>
	</div>

	<!-- JS only. -->
	{% include footer.html %}
</body>
</html>
