<!DOCTYPE html>
<html>
	{% include head.html %}
<body>
	<div class="container">
		<div class="site">
			<div class="header">
				<h1 class="title"><a href="/">{{ site.name }}</a></h1>
				<a class="extra" href="/">home</a>
			</div>

			{{ content }}

			<div class="footer">
				<div class="contact">
					<p>
						Your Name<br />
						What You Are<br />
						your@email.com
					</p>
				</div>

				<div class="contact">
					<p>
						<a href="https://github.com/vsn4ik">github.com/vsn4ik</a><br>
					</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
