<!DOCTYPE html>
<html>
	{% include head.html %}
<body>
	<div class="container">
		<div class="jumbotron">
			<h1>Bootstrap-checkbox</h1>
			<p class="lead">{{ site.description }}</p>
		</div>

		{{ content }}

		<div class="footer">
			<p>Copyright © 2013 vsn4ik</p>
			<!--<a href="{{ site.repo }}">View on GitHub</a>-->
		</div>
	</div>

	<script src="https://code.jquery.com/jquery.min.js"></script>
	<script src="./dist/bootstrap-checkbox.js"></script>
	<script src="./assets/js/index.js"></script>
</body>
</html>
